.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  border-color: #000000;
  border-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #e6e4e4;
}
.home-container1 {
  width: 500px;
  height: 300px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  margin-left: var(--dl-space-space-threeunits);
  padding-top: var(--dl-space-space-twounits);
  border-color: #45d3d3;
  border-width: 1px;
  margin-right: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  background-color: #ffffff;
  border-top-width: 3px;
}
.home-container2 {
  width: 87px;
  height: 87px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  margin-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius4);
  background-size: cover;
  background-image: url("public/playground_assets/claireguiot-200h.jpeg");
  background-position: center;
  border-top-left-radius: var(--dl-radius-radius-round);
  border-top-right-radius: var(--dl-radius-radius-round);
  border-bottom-left-radius: var(--dl-radius-radius-round);
  border-bottom-right-radius: var(--dl-radius-radius-round);
}
.home-text {
  font-size: 24px;
  margin-top: var(--dl-space-space-twounits);
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  margin-left: var(--dl-space-space-twounits);
  text-transform: none;
  text-decoration: none;
}
.home-text1 {
  color: rgba(0, 0, 0, 0.47);
  font-size: 16px;
  margin-top: var(--dl-space-space-unit);
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  margin-left: var(--dl-space-space-twounits);
  text-transform: none;
  text-decoration: none;
}
.home-text2 {
  color: rgba(0, 0, 0, 0.47);
  z-index: 100;
  font-size: 16px;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  margin-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius4);
  text-transform: none;
  text-decoration: none;
}
